In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
from pathlib import Path
import tensorflow as tf
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

## Loading and Preprocessing Data

In [11]:
# Read the preprocessed_doggy file into a DataFrame
doggy_df = pd.read_csv(Path("preprocessed_doggy.csv"))

# Review the DataFrame
display(doggy_df.head())
display(doggy_df.tail())

,Unnamed: 0,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost,Breed
0,0,Bronx,Yes,middle,0.4,0.4,0.8,0.8,1.0,Small 9-35lb,0.6,Low,Boxer
1,1,Manhattan,Yes,high,0.8,0.2,0.6,0.6,1.0,Toy >9lb,0.8,Medium,Maltese
2,2,Manhattan,Yes,high,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium,Yorkshire Terrier
3,3,Brooklyn,Yes,low,0.4,0.8,0.6,1.0,0.6,Small 9-35lb,0.4,Low,German Shepherd Dog
4,4,Brooklyn,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium,Cavalier King Charles Spaniel

,Unnamed: 0,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost,Breed
275750,275750,Queens,Yes,middle,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium,Yorkshire Terrier
275751,275751,Manhattan,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium,Cavalier King Charles Spaniel
275752,275752,Brooklyn,No,middle,0.2,0.4,0.6,0.4,0.6,Toy >9lb,1.0,High,Chihuahua
275753,275753,Staten Island,No,middle,0.4,0.8,1.0,1.0,1.0,Small 9-35lb,0.6,Medium,Labrador Retriever
275754,275754,Queens,No,middle,0.4,0.2,0.6,1.0,1.0,Toy >9lb,0.8,Low,Boston Terrier

In [12]:
# Remove the Unnamed col
doggy_df = doggy_df[['Borough', 'dog_friendly', 'income_cat',
       'grooming_frequency', 'shedding', 'energy_level', 'trainability',
       'demeanor', 'size', 'life_expectancy', 'lifetime_cost', 'Breed']]

doggy_df.head()

,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost,Breed
0,Bronx,Yes,middle,0.4,0.4,0.8,0.8,1.0,Small 9-35lb,0.6,Low,Boxer
1,Manhattan,Yes,high,0.8,0.2,0.6,0.6,1.0,Toy >9lb,0.8,Medium,Maltese
2,Manhattan,Yes,high,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium,Yorkshire Terrier
3,Brooklyn,Yes,low,0.4,0.8,0.6,1.0,0.6,Small 9-35lb,0.4,Low,German Shepherd Dog
4,Brooklyn,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium,Cavalier King Charles Spaniel

In [13]:
# Define features set
X = doggy_df.copy()
X.drop("Breed", axis=1, inplace=True)
X.head()

,Borough,dog_friendly,income_cat,grooming_frequency,shedding,energy_level,trainability,demeanor,size,life_expectancy,lifetime_cost
0,Bronx,Yes,middle,0.4,0.4,0.8,0.8,1.0,Small 9-35lb,0.6,Low
1,Manhattan,Yes,high,0.8,0.2,0.6,0.6,1.0,Toy >9lb,0.8,Medium
2,Manhattan,Yes,high,1.0,0.2,0.6,0.2,0.8,Toy >9lb,0.8,Medium
3,Brooklyn,Yes,low,0.4,0.8,0.6,1.0,0.6,Small 9-35lb,0.4,Low
4,Brooklyn,Yes,high,0.4,0.4,0.4,1.0,0.8,Toy >9lb,0.8,Medium

In [14]:
# Define target vector
y = doggy_df["Breed"].ravel()
y[:5]

array(['Boxer', 'Maltese', 'Yorkshire Terrier', 'German Shepherd Dog',
       'Cavalier King Charles Spaniel'], dtype=object)

In [15]:
# Use LabelEncoder to convert targets(50) into a single column
# Use LabelEncoder on the y DataFrame to encode the Dog Breeds
label_encoder_df = LabelEncoder()

# Encode Labels
y_encoded = label_encoder_df.fit_transform(y)

# Test the results of the encoder
# Display first 50 of encoded column
display(y_encoded[0:50])

# Get the original labels back
display(label_encoder_df.inverse_transform(y_encoded[0:50]))

array([10, 30, 49, 24, 14, 14, 10, 10,  3, 28,  3, 25,  3, 49, 29,  9,  6,
       25, 26,  6, 14, 10, 15, 30, 15, 29, 15, 49,  3,  6, 44, 29, 44,  3,
       26, 16,  3, 23, 45, 37, 10, 15, 29, 12, 43, 39, 49, 28, 15, 30])

array(['Boxer', 'Maltese', 'Yorkshire Terrier', 'German Shepherd Dog',
       'Cavalier King Charles Spaniel', 'Cavalier King Charles Spaniel',
       'Boxer', 'Boxer', 'Beagle', 'Havanese', 'Beagle',
       'German Shorthaired Pointer', 'Beagle', 'Yorkshire Terrier',
       'Labrador Retriever', 'Boston Terrier', 'Bichon Frise',
       'German Shorthaired Pointer', 'Golden Retriever', 'Bichon Frise',
       'Cavalier King Charles Spaniel', 'Boxer', 'Chihuahua', 'Maltese',
       'Chihuahua', 'Labrador Retriever', 'Chihuahua',
       'Yorkshire Terrier', 'Beagle', 'Bichon Frise', 'Shih Tzu',
       'Labrador Retriever', 'Shih Tzu', 'Beagle', 'Golden Retriever',
       'Cocker Spaniel', 'Beagle', 'French Bulldog', 'Siberian Husky',
       'Poodle', 'Boxer', 'Chihuahua', 'Labrador Retriever', 'Bulldog',
       'Shiba Inu', 'Pug', 'Yorkshire Terrier', 'Havanese', 'Chihuahua',
       'Maltese'], dtype=object)

In [16]:
# Use get_dummies to convert category types to numbers
y = pd.get_dummies(y, dtype=int)
X = pd.get_dummies(X, dtype=int)

In [17]:
display(y.sample(10))
display(X.head(3))

,Australian Cattle Dog,Australian Shepherd,Basset Hound,Beagle,Belgian Malinois,Bernese Mountain Dog,Bichon Frise,Bloodhound,Border Collie,Boston Terrier,...,Rhodesian Ridgeback,Rottweiler,Shetland Sheepdog,Shiba Inu,Shih Tzu,Siberian Husky,Vizsla,Weimaraner,West Highland White Terrier,Yorkshire Terrier
98838,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
118444,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
233009,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
224142,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
12112,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
162224,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
49372,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
258390,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18352,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
114303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

,grooming_frequency,shedding,energy_level,trainability,demeanor,life_expectancy,Borough_Bronx,Borough_Brooklyn,Borough_Manhattan,Borough_Queens,...,income_cat_low,income_cat_middle,size_Giant <75lb,size_Large 55-75lb,size_Medium 35-55lb,size_Small 9-35lb,size_Toy >9lb,lifetime_cost_High,lifetime_cost_Low,lifetime_cost_Medium
0,0.4,0.4,0.8,0.8,1.0,0.6,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,0.8,0.2,0.6,0.6,1.0,0.8,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
2,1.0,0.2,0.6,0.2,0.8,0.8,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [18]:
# Convert Features/Targets into a form suitable for Modeling
y = y_encoded
X = pd.get_dummies(X, dtype=int)

In [19]:
# Look at X, y data
display(y)
display(X.head(3))

array([10, 30, 49, ..., 15, 29,  9])

,grooming_frequency,shedding,energy_level,trainability,demeanor,life_expectancy,Borough_Bronx,Borough_Brooklyn,Borough_Manhattan,Borough_Queens,...,income_cat_low,income_cat_middle,size_Giant <75lb,size_Large 55-75lb,size_Medium 35-55lb,size_Small 9-35lb,size_Toy >9lb,lifetime_cost_High,lifetime_cost_Low,lifetime_cost_Medium
0,0.4,0.4,0.8,0.8,1.0,0.6,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,0.8,0.2,0.6,0.6,1.0,0.8,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
2,1.0,0.2,0.6,0.2,0.8,0.8,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1

In [20]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [21]:
# Creating StandardScaler instance
scaler = StandardScaler()

In [22]:
# Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [23]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Attempt #1
# layer1 = 10 : activation function = relu
# layer2 = 20 : activation function = relu

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 10
hidden_nodes_layer2 = 20


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                250

 dense_1 (Dense)             (None, 20)                220

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 491 (1.92 KB)
Trainable params: 491 (1.92 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\sylhu\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

6463/6463 [==============================] - 5s 728us/step - loss: -5480224.5000 - accuracy: 0.0203
Epoch 2/100
6463/6463 [==============================] - 5s 712us/step - loss: -55635440.0000 - accuracy: 0.0203
Epoch 3/100
6463/6463 [==============================] - 5s 714us/step - loss: -192203936.0000 - accuracy: 0.0203
Epoch 4/100
6463/6463 [==============================] - 5s 801us/step - loss: -450376736.0000 - accuracy: 0.0203
Epoch 5/100
6463/6463 [==============================] - 5s 787us/step - loss: -866095808.0000 - accuracy: 0.0203
Epoch 6/100
6463/6463 [==============================] - 5s 793us/step - loss: -1474233088.0000 - accuracy: 0.0203
Epoch 7/100
6463/6463 [==============================] - 5s 746us/step - loss: -2307382528.0000 - accuracy: 0.0203
Epoch 8/100
6463/6463 [==============================] - 5s 723us/step - loss: -3402476032.0000 - accuracy: 0.0203
Epoch 9/100
6463/6463 [==============================] - 5s 731us/step - loss: -4786561024.0000 - accuracy: 0.0203
Epoch 10/100
6463/6463 [==============================] - 5s 735us/step - loss: -6501596672.0000 - accuracy: 0.0203
Epoch 11/100
6463/6463 [==============================] - 5s 724us/step - loss: -8578850816.0000 - accuracy: 0.0203
Epoch 12/100
6463/6463 [==============================] - 5s 752us/step - loss: -11046279168.0000 - accuracy: 0.0203
Epoch 13/100
6463/6463 [==============================] - 5s 748us/step - loss: -13940473856.0000 - accuracy: 0.0203
Epoch 14/100
6463/6463 [==============================] - 5s 738us/step - loss: -17302882304.0000 - accuracy: 0.0203
Epoch 15/100
6463/6463 [==============================] - 5s 741us/step - loss: -21155823616.0000 - accuracy: 0.0203
Epoch 16/100
6463/6463 [==============================] - 5s 746us/step - loss: -25534715904.0000 - accuracy: 0.0203
Epoch 17/100
6463/6463 [==============================] - 5s 748us/step - loss: -30471555072.0000 - accuracy: 0.0203
Epoch 18/100
6463/6463 [==============================] - 5s 744us/step - loss: -35999191040.0000 - accuracy: 0.0203
Epoch 19/100
6463/6463 [==============================] - 5s 750us/step - loss: -42160685056.0000 - accuracy: 0.0203
Epoch 20/100
6463/6463 [==============================] - 5s 743us/step - loss: -48979673088.0000 - accuracy: 0.0203
Epoch 21/100
6463/6463 [==============================] - 5s 750us/step - loss: -56500436992.0000 - accuracy: 0.0203
Epoch 22/100
6463/6463 [==============================] - 5s 763us/step - loss: -64732049408.0000 - accuracy: 0.0203
Epoch 23/100
6463/6463 [==============================] - 5s 754us/step - loss: -73727541248.0000 - accuracy: 0.0203
Epoch 24/100
6463/6463 [==============================] - 5s 753us/step - loss: -83506946048.0000 - accuracy: 0.0203
Epoch 25/100
6463/6463 [==============================] - 5s 764us/step - loss: -94127022080.0000 - accuracy: 0.0203
Epoch 26/100
6463/6463 [==============================] - 5s 748us/step - loss: -105612664832.0000 - accuracy: 0.0203
Epoch 27/100
6463/6463 [==============================] - 5s 746us/step - loss: -117956419584.0000 - accuracy: 0.0203
Epoch 28/100
6463/6463 [==============================] - 5s 753us/step - loss: -131237355520.0000 - accuracy: 0.0203
Epoch 29/100
6463/6463 [==============================] - 5s 754us/step - loss: -145467277312.0000 - accuracy: 0.0203
Epoch 30/100
6463/6463 [==============================] - 5s 748us/step - loss: -160697843712.0000 - accuracy: 0.0203
Epoch 31/100
6463/6463 [==============================] - 5s 753us/step - loss: -176951853056.0000 - accuracy: 0.0203
Epoch 32/100
6463/6463 [==============================] - 5s 750us/step - loss: -194239053824.0000 - accuracy: 0.0203
Epoch 33/100
6463/6463 [==============================] - 5s 753us/step - loss: -212623409152.0000 - accuracy: 0.0203
Epoch 34/100
6463/6463 [==============================] - 5s 771us/step - loss: -232152186880.0000 - accuracy: 0.0203
Epoch 35/100
6463/6463 [==============================] - 5s 758us/step - loss: -252812427264.0000 - accuracy: 0.0203
Epoch 36/100
6463/6463 [==============================] - 5s 765us/step - loss: -274672091136.0000 - accuracy: 0.0203
Epoch 37/100
6463/6463 [==============================] - 5s 792us/step - loss: -297779036160.0000 - accuracy: 0.0203
Epoch 38/100
6463/6463 [==============================] - 5s 769us/step - loss: -322114256896.0000 - accuracy: 0.0203
Epoch 39/100
6463/6463 [==============================] - 5s 768us/step - loss: -347722842112.0000 - accuracy: 0.0203
Epoch 40/100
6463/6463 [==============================] - 5s 777us/step - loss: -374642802688.0000 - accuracy: 0.0203
Epoch 41/100
6463/6463 [==============================] - 5s 812us/step - loss: -402942525440.0000 - accuracy: 0.0203
Epoch 42/100
6463/6463 [==============================] - 5s 809us/step - loss: -432616898560.0000 - accuracy: 0.0203
Epoch 43/100
6463/6463 [==============================] - 5s 839us/step - loss: -463726706688.0000 - accuracy: 0.0203
Epoch 44/100
6463/6463 [==============================] - 5s 827us/step - loss: -496218996736.0000 - accuracy: 0.0203
Epoch 45/100
6463/6463 [==============================] - 6s 863us/step - loss: -530229755904.0000 - accuracy: 0.0203
Epoch 46/100
6463/6463 [==============================] - 6s 882us/step - loss: -565731983360.0000 - accuracy: 0.0203
Epoch 47/100
6463/6463 [==============================] - 6s 867us/step - loss: -602810286080.0000 - accuracy: 0.0203
Epoch 48/100
6463/6463 [==============================] - 6s 868us/step - loss: -641440677888.0000 - accuracy: 0.0203
Epoch 49/100
6463/6463 [==============================] - 6s 887us/step - loss: -681725853696.0000 - accuracy: 0.0203
Epoch 50/100
6463/6463 [==============================] - 6s 883us/step - loss: -723642744832.0000 - accuracy: 0.0203
Epoch 51/100
6463/6463 [==============================] - 6s 890us/step - loss: -767212519424.0000 - accuracy: 0.0203
Epoch 52/100
6463/6463 [==============================] - 5s 829us/step - loss: -812535840768.0000 - accuracy: 0.0203
Epoch 53/100
6463/6463 [==============================] - 5s 819us/step - loss: -859534917632.0000 - accuracy: 0.0203
Epoch 54/100
6463/6463 [==============================] - 5s 802us/step - loss: -908354453504.0000 - accuracy: 0.0203
Epoch 55/100
6463/6463 [==============================] - 5s 775us/step - loss: -959029444608.0000 - accuracy: 0.0203
Epoch 56/100
6463/6463 [==============================] - 5s 771us/step - loss: -1011464470528.0000 - accuracy: 0.0203
Epoch 57/100
6463/6463 [==============================] - 5s 760us/step - loss: -1065848733696.0000 - accuracy: 0.0203
Epoch 58/100
6463/6463 [==============================] - 5s 764us/step - loss: -1122085371904.0000 - accuracy: 0.0203
Epoch 59/100
6463/6463 [==============================] - 5s 743us/step - loss: -1180329705472.0000 - accuracy: 0.0203
Epoch 60/100
6463/6463 [==============================] - 5s 748us/step - loss: -1240506171392.0000 - accuracy: 0.0203
Epoch 61/100
6463/6463 [==============================] - 5s 753us/step - loss: -1302721462272.0000 - accuracy: 0.0203
Epoch 62/100
6463/6463 [==============================] - 5s 761us/step - loss: -1366947004416.0000 - accuracy: 0.0203
Epoch 63/100
6463/6463 [==============================] - 5s 764us/step - loss: -1433173884928.0000 - accuracy: 0.0203
Epoch 64/100
6463/6463 [==============================] - 5s 767us/step - loss: -1501499097088.0000 - accuracy: 0.0203
Epoch 65/100
6463/6463 [==============================] - 5s 766us/step - loss: -1572150444032.0000 - accuracy: 0.0203
Epoch 66/100

6463/6463 [==============================] - 5s 764us/step - loss: -1644669960192.0000 - accuracy: 0.0203
Epoch 67/100
6463/6463 [==============================] - 5s 756us/step - loss: -1719626891264.0000 - accuracy: 0.0203
Epoch 68/100
6463/6463 [==============================] - 5s 755us/step - loss: -1796831576064.0000 - accuracy: 0.0203
Epoch 69/100
6463/6463 [==============================] - 5s 762us/step - loss: -1876240498688.0000 - accuracy: 0.0203
Epoch 70/100
6463/6463 [==============================] - 5s 763us/step - loss: -1957822988288.0000 - accuracy: 0.0203
Epoch 71/100
6463/6463 [==============================] - 5s 751us/step - loss: -2041897156608.0000 - accuracy: 0.0203
Epoch 72/100
6463/6463 [==============================] - 5s 750us/step - loss: -2128378068992.0000 - accuracy: 0.0203
Epoch 73/100
6463/6463 [==============================] - 5s 757us/step - loss: -2217222602752.0000 - accuracy: 0.0203
Epoch 74/100
6463/6463 [==============================] - 5s 749us/step - loss: -2308488822784.0000 - accuracy: 0.0203
Epoch 75/100
6463/6463 [==============================] - 5s 758us/step - loss: -2402124038144.0000 - accuracy: 0.0203
Epoch 76/100
6463/6463 [==============================] - 5s 748us/step - loss: -2498252505088.0000 - accuracy: 0.0203
Epoch 77/100
6463/6463 [==============================] - 5s 750us/step - loss: -2597008703488.0000 - accuracy: 0.0203
Epoch 78/100
6463/6463 [==============================] - 5s 765us/step - loss: -2698120790016.0000 - accuracy: 0.0203
Epoch 79/100
6463/6463 [==============================] - 5s 771us/step - loss: -2802091032576.0000 - accuracy: 0.0203
Epoch 80/100
6463/6463 [==============================] - 5s 802us/step - loss: -2908417425408.0000 - accuracy: 0.0203
Epoch 81/100
6463/6463 [==============================] - 5s 811us/step - loss: -3017590964224.0000 - accuracy: 0.0203
Epoch 82/100
6463/6463 [==============================] - 5s 826us/step - loss: -3129422643200.0000 - accuracy: 0.0203
Epoch 83/100
6463/6463 [==============================] - 5s 830us/step - loss: -3243830149120.0000 - accuracy: 0.0203
Epoch 84/100
6463/6463 [==============================] - 5s 843us/step - loss: -3361287962624.0000 - accuracy: 0.0203
Epoch 85/100
6463/6463 [==============================] - 5s 843us/step - loss: -3481469452288.0000 - accuracy: 0.0203
Epoch 86/100
6463/6463 [==============================] - 6s 853us/step - loss: -3604370161664.0000 - accuracy: 0.0203
Epoch 87/100
6463/6463 [==============================] - 6s 869us/step - loss: -3730140299264.0000 - accuracy: 0.0203
Epoch 88/100
6463/6463 [==============================] - 6s 880us/step - loss: -3858875547648.0000 - accuracy: 0.0203
Epoch 89/100
6463/6463 [==============================] - 6s 899us/step - loss: -3990477078528.0000 - accuracy: 0.0203
Epoch 90/100
6463/6463 [==============================] - 6s 973us/step - loss: -4124937551872.0000 - accuracy: 0.0203
Epoch 91/100
6463/6463 [==============================] - 6s 942us/step - loss: -4262502072320.0000 - accuracy: 0.0203
Epoch 92/100
6463/6463 [==============================] - 6s 965us/step - loss: -4403152027648.0000 - accuracy: 0.0203
Epoch 93/100
6463/6463 [==============================] - 6s 887us/step - loss: -4546540077056.0000 - accuracy: 0.0203
Epoch 94/100
6463/6463 [==============================] - 5s 847us/step - loss: -4693499576320.0000 - accuracy: 0.0203
Epoch 95/100
6463/6463 [==============================] - 5s 826us/step - loss: -4843254054912.0000 - accuracy: 0.0203
Epoch 96/100
6463/6463 [==============================] - 5s 788us/step - loss: -4996244963328.0000 - accuracy: 0.0203
Epoch 97/100
6463/6463 [==============================] - 5s 785us/step - loss: -5152258392064.0000 - accuracy: 0.0203
Epoch 98/100
6463/6463 [==============================] - 5s 761us/step - loss: -5311796084736.0000 - accuracy: 0.0203
Epoch 99/100
6463/6463 [==============================] - 5s 759us/step - loss: -5474178039808.0000 - accuracy: 0.0203
Epoch 100/100
6463/6463 [==============================] - 5s 755us/step - loss: -5639900758016.0000 - accuracy: 0.0203

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2155/2155 - 1s - loss: -5.7066e+12 - accuracy: 0.0205 - 1s/epoch - 618us/step
Loss: -5706566598656.0, Accuracy: 0.020467368885874748

In [18]:
# # Export our model to HDF5 file
# nn.save('final_project_dl_01.h5')