# Notebook to Merge Cleaned Files

In [23]:
import pandas as pd
import numpy as np

In [92]:
# Read in cleaned csv's into DataFrames
# NYC Dog Licensing Data with ZipCode/Borough and top 50 American Kennel Club(AKC) Dog Breeds included
top50breeds_licensing_df = pd.read_csv('t50_lic_dogs_cleaned.csv', dtype=str)
# CSV with Borough level info for average number of people per dog friendly use area(dog runs or off-leash areas)
avg_pop_per_park_df = pd.read_csv('average_population_per_dogpark_cleaned.csv')
# Demographic Summary Table by Borough
demo_summary_df = pd.read_csv('demo_summary_cleaned.csv')
# A count of Friendly Dog Use areas by zipcode
dogfriendly_by_zip_df = pd.read_csv('dogfriendlycount_by_zip_cleaned.csv')
# Top 50 AKC breeds with attributes
top50breeds_df = pd.read_csv('top50breeds.csv')
# Avg Income by NYC Zip Code
nyc_income_df = pd.read_csv('IRS_NY_2020.csv')

In [93]:
# Look at the Data
display(top50breeds_licensing_df.head(2))
display(avg_pop_per_park_df.head(2))
display(demo_summary_df.head(2))
display(dogfriendly_by_zip_df.head(2))
display(top50breeds_df.head(2))
display(nyc_income_df.head(2))

  Unnamed: 0 AnimalGender AnimalBirthYear BreedName ZipCode    Borough
0          1            M            2010     Boxer   10465      Bronx
1          4            F            2009   Maltese   10028  Manhattan

   Unnamed: 0   Borough  pop_per_dogpark
0           0     Bronx     47892.833333
1           1  Brooklyn     68601.368421

,Unnamed: 0,Borough,demo_total_pop,dem_median_age,demo_housing_units,demo_avg_#_per_household
0,0,Bronx,"1,436,785",33.3,"522,401",2.750349
1,1,Brooklyn,"2,606,852",34.5,"1,021,747",2.551367

   Unnamed: 0  ZipCode  cnt_of_dogfriendly_areas_by_zipcode
0           0    11201                                    4
1           1    10463                                    4

,Breed,description,temperament,grooming_frequency_value,grooming_frequency_category,shedding_value,shedding_category,energy_level_value,energy_level_category,trainability_value,trainability_category,demeanor_value,demeanor_category,average_height,average_expectancy,average_weight,size,size_cat,image_link
0,Australian Cattle Dog,Standing between 17 to 20 inches at the should...,"Alert, Curious, Pleasant",0.2,Occasional Bath/Brush,0.8,Regularly,1.0,Needs Lots of Activity,0.2,May be Stubborn,0.4,Reserved with Strangers,46.99,14.0,19.277676,0.4,Small 9-35lb,https://www.akc.org/wp-content/uploads/2017/11...
1,Australian Shepherd,"The Australian Shepherd, the cowboy’s herding ...","Smart, Work-Oriented, Exuberant",0.4,Weekly Brushing,0.6,Seasonal,0.8,Energetic,1.0,Eager to Please,0.6,Alert/Responsive,52.07,13.5,23.813599,0.4,Small 9-35lb,https://www.akc.org/wp-content/uploads/2017/11...

,ZipCode,Number of returns,Total income Amount (In thousand of dollars),Average total income
0,10001,15590,2830868,181582.29630
1,10002,41020,2697332,65756.50902

In [94]:
# Breeds DataFrame = Replace Breed: 'Poodle (Standard)' with 'Poodle' to match licensing data convention
top50breeds_df['Breed'].replace('Poodle (Standard)', 'Poodle', inplace=True)

top50breeds_df['Breed'].unique()

array(['Australian Cattle Dog', 'Australian Shepherd', 'Basset Hound',
       'Beagle', 'Belgian Malinois', 'Bernese Mountain Dog',
       'Bichon Frise', 'Bloodhound', 'Border Collie', 'Boston Terrier',
       'Boxer', 'Brittany', 'Bulldog', 'Cane Corso',
       'Cavalier King Charles Spaniel', 'Chihuahua', 'Cocker Spaniel',
       'Collie', 'Dachshund', 'Dalmatian', 'Doberman Pinscher',
       'English Cocker Spaniel', 'English Springer Spaniel',
       'French Bulldog', 'German Shepherd Dog',
       'German Shorthaired Pointer', 'Golden Retriever', 'Great Dane',
       'Havanese', 'Labrador Retriever', 'Maltese', 'Mastiff',
       'Miniature American Shepherd', 'Miniature Schnauzer',
       'Newfoundland', 'Pembroke Welsh Corgi', 'Pomeranian', 'Poodle',
       'Portuguese Water Dog', 'Pug', 'Rhodesian Ridgeback', 'Rottweiler',
       'Shetland Sheepdog', 'Shiba Inu', 'Shih Tzu', 'Siberian Husky',
       'Vizsla', 'Weimaraner', 'West Highland White Terrier',
       'Yorkshire Terrier'], dtype=object)

In [95]:
# Display all the info for the DataFrames
display(top50breeds_licensing_df[['ZipCode', 'Borough']].info())
display(avg_pop_per_park_df.info())
display(demo_summary_df.info())
display(dogfriendly_by_zip_df.info())
display(top50breeds_df.info())
display(nyc_income_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277639 entries, 0 to 277638
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   ZipCode  277639 non-null  object
 1   Borough  277639 non-null  object
dtypes: object(2)
memory usage: 4.2+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5 non-null      int64
 1   Borough          5 non-null      object
 2   pop_per_dogpark  5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                5 non-null      int64
 1   Borough                   5 non-null      object
 2   demo_total_pop            5 non-null      object
 3   dem_median_age            5 non-null      float64
 4   demo_housing_units        5 non-null      object
 5   demo_avg_#_per_household  5 non-null      float64
dtypes: float64(2), int64(1), object(3)
memory usage: 368.0+ bytes

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Unnamed: 0                           98 non-null     int64
 1   ZipCode                              98 non-null     int64
 2   cnt_of_dogfriendly_areas_by_zipcode  98 non-null     int64
dtypes: int64(3)
memory usage: 2.4 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Breed                        50 non-null     object
 1   description                  50 non-null     object
 2   temperament                  50 non-null     object
 3   grooming_frequency_value     50 non-null     float64
 4   grooming_frequency_category  50 non-null     object
 5   shedding_value               50 non-null     float64
 6   shedding_category            50 non-null     object
 7   energy_level_value           50 non-null     float64
 8   energy_level_category        50 non-null     object
 9   trainability_value           50 non-null     float64
 10  trainability_category        50 non-null     object
 11  demeanor_value               50 non-null     float64
 12  demeanor_category            50 non-null     object
 13  average_height               50 non-null     float64
 14  average_expectancy           50 non-null     float64
 15  average_weight               50 non-null     float64
 16  size                         50 non-null     float64
 17  size_cat                     50 non-null     object
 18  image_link                   50 non-null     object
dtypes: float64(9), object(10)
memory usage: 7.5+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ZipCode                                       1538 non-null   int64
 1   Number of returns                             1538 non-null   int64
 2   Total income Amount (In thousand of dollars)  1538 non-null   int64
 3   Average total income                          1538 non-null   float64
dtypes: float64(1), int64(3)
memory usage: 48.2 KB

None

In [96]:
# Remove unnecessary cols from Dataframes
avg_pop_per_park_df = avg_pop_per_park_df[['Borough', 'pop_per_dogpark']]
demo_summary_df = demo_summary_df[['Borough', 'demo_total_pop', 'dem_median_age', 'demo_housing_units', 'demo_avg_#_per_household']]
dogfriendly_by_zip_df = dogfriendly_by_zip_df[['ZipCode', 'cnt_of_dogfriendly_areas_by_zipcode']]

# Recast dogfriendly_by_zip_df and nyc income df zipcode to string
dogfriendly_by_zip_df = dogfriendly_by_zip_df.astype({'ZipCode':'string'})
nyc_income_df = nyc_income_df.astype({'ZipCode':'string'})

display(dogfriendly_by_zip_df.info())
display(nyc_income_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 2 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ZipCode                              98 non-null     string
 1   cnt_of_dogfriendly_areas_by_zipcode  98 non-null     int64
dtypes: int64(1), string(1)
memory usage: 1.7 KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ZipCode                                       1538 non-null   string
 1   Number of returns                             1538 non-null   int64
 2   Total income Amount (In thousand of dollars)  1538 non-null   int64
 3   Average total income                          1538 non-null   float64
dtypes: float64(1), int64(2), string(1)
memory usage: 48.2 KB

None

In [97]:
# Merge the DataFrames
master_dog_df = top50breeds_licensing_df.merge(avg_pop_per_park_df, how='left', on='Borough')
master_dog_df = master_dog_df.merge(demo_summary_df, how='left', on='Borough')
master_dog_df = master_dog_df.merge(dogfriendly_by_zip_df, how='left', on='ZipCode')
master_dog_df = master_dog_df.merge(nyc_income_df, how='left', on='ZipCode')
master_dog_df = master_dog_df.merge(top50breeds_df, how='left', left_on='BreedName', right_on='Breed')

master_dog_df.head(2)

,Unnamed: 0,AnimalGender,AnimalBirthYear,BreedName,ZipCode,Borough,pop_per_dogpark,demo_total_pop,dem_median_age,demo_housing_units,...,trainability_value,trainability_category,demeanor_value,demeanor_category,average_height,average_expectancy,average_weight,size,size_cat,image_link
0,1,M,2010,Boxer,10465,Bronx,47892.833333,"1,436,785",33.3,"522,401",...,0.8,Easy Training,1.0,Outgoing,59.055,11.0,21.545638,0.4,Small 9-35lb,https://www.akc.org/wp-content/uploads/2017/11...
1,4,F,2009,Maltese,10028,Manhattan,48087.911765,"1,634,989",36.7,"866,644",...,0.6,Agreeable,1.0,Outgoing,20.320,13.5,3.175147,0.2,Toy >9lb,https://www.akc.org/wp-content/uploads/2017/11...

In [98]:
master_dog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277639 entries, 0 to 277638
Data columns (total 34 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   Unnamed: 0                                    277639 non-null  object
 1   AnimalGender                                  277639 non-null  object
 2   AnimalBirthYear                               277639 non-null  object
 3   BreedName                                     277639 non-null  object
 4   ZipCode                                       277639 non-null  object
 5   Borough                                       277639 non-null  object
 6   pop_per_dogpark                               277639 non-null  float64
 7   demo_total_pop                                277639 non-null  object
 8   dem_median_age                                277639 non-null  float64
 9   demo_housing_units                            277639 non-null  object
 10  demo_avg_#_per_household                      277639 non-null  float64
 11  cnt_of_dogfriendly_areas_by_zipcode           192433 non-null  float64
 12  Number of returns                             275755 non-null  float64
 13  Total income Amount (In thousand of dollars)  275755 non-null  float64
 14  Average total income                          275755 non-null  float64
 15  Breed                                         277639 non-null  object
 16  description                                   277639 non-null  object
 17  temperament                                   277639 non-null  object
 18  grooming_frequency_value                      277639 non-null  float64
 19  grooming_frequency_category                   277639 non-null  object
 20  shedding_value                                277639 non-null  float64
 21  shedding_category                             277639 non-null  object
 22  energy_level_value                            277639 non-null  float64
 23  energy_level_category                         277639 non-null  object
 24  trainability_value                            277639 non-null  float64
 25  trainability_category                         277639 non-null  object
 26  demeanor_value                                277639 non-null  float64
 27  demeanor_category                             277639 non-null  object
 28  average_height                                277639 non-null  float64
 29  average_expectancy                            277639 non-null  float64
 30  average_weight                                277639 non-null  float64
 31  size                                          277639 non-null  float64
 32  size_cat                                      277639 non-null  object
 33  image_link                                    277639 non-null  object
dtypes: float64(16), object(18)
memory usage: 72.0+ MB

In [99]:
# Col: cnt_of_dogfriendly_areas_by_zipcode - replace Nulls with zero's 
# Drop unamed column
master_dog_df['cnt_of_dogfriendly_areas_by_zipcode'] = master_dog_df['cnt_of_dogfriendly_areas_by_zipcode'].fillna(0)

master_dog_df['cnt_of_dogfriendly_areas_by_zipcode'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 277639 entries, 0 to 277638
Series name: cnt_of_dogfriendly_areas_by_zipcode
Non-Null Count   Dtype
--------------   -----
277639 non-null  float64
dtypes: float64(1)
memory usage: 2.1 MB

In [100]:
# List the Columns
master_dog_df.columns

Index(['Unnamed: 0', 'AnimalGender', 'AnimalBirthYear', 'BreedName', 'ZipCode',
       'Borough', 'pop_per_dogpark', 'demo_total_pop', 'dem_median_age',
       'demo_housing_units', 'demo_avg_#_per_household',
       'cnt_of_dogfriendly_areas_by_zipcode', 'Number of returns',
       'Total income Amount (In thousand of dollars)', 'Average total income',
       'Breed', 'description', 'temperament', 'grooming_frequency_value',
       'grooming_frequency_category', 'shedding_value', 'shedding_category',
       'energy_level_value', 'energy_level_category', 'trainability_value',
       'trainability_category', 'demeanor_value', 'demeanor_category',
       'average_height', 'average_expectancy', 'average_weight', 'size',
       'size_cat', 'image_link'],
      dtype='object')

In [101]:
# Cut(Unnamed, Total Income) and Rename columns
master_dog_df = master_dog_df[['AnimalGender', 'AnimalBirthYear', 'ZipCode',
       'Borough', 'pop_per_dogpark', 'demo_total_pop', 'dem_median_age',
       'demo_housing_units', 'demo_avg_#_per_household',
       'cnt_of_dogfriendly_areas_by_zipcode', 'Number of returns', 'Average total income',
       'Breed', 'description', 'temperament', 'grooming_frequency_value',
       'grooming_frequency_category', 'shedding_value', 'shedding_category',
       'energy_level_value', 'energy_level_category', 'trainability_value',
       'trainability_category', 'demeanor_value', 'demeanor_category',
       'average_height', 'average_expectancy', 'average_weight', 'size',
       'size_cat', 'image_link']]
master_dog_df.columns = ['Gender', 'BirthYear', 'ZipCode',
       'Borough', 'humans/park', 'boro_population', 'human_median_age',
       'housing_units', 'humans/household',
       'dfriendlyareas_by_zip', 'tax_return_count', 'avg_income',
       'Breed', 'description', 'temperament', 'grooming_frequency_value',
       'grooming_frequency_category', 'shedding_value', 'shedding_category',
       'energy_level_value', 'energy_level_category', 'trainability_value',
       'trainability_category', 'demeanor_value', 'demeanor_category',
       'average_height', 'average_expectancy', 'average_weight', 'size',
       'size_cat', 'image_link']

In [102]:
master_dog_df.head(3)

,Gender,BirthYear,ZipCode,Borough,humans/park,boro_population,human_median_age,housing_units,humans/household,dfriendlyareas_by_zip,...,trainability_value,trainability_category,demeanor_value,demeanor_category,average_height,average_expectancy,average_weight,size,size_cat,image_link
0,M,2010,10465,Bronx,47892.833333,"1,436,785",33.3,"522,401",2.750349,3.0,...,0.8,Easy Training,1.0,Outgoing,59.055,11.0,21.545638,0.4,Small 9-35lb,https://www.akc.org/wp-content/uploads/2017/11...
1,F,2009,10028,Manhattan,48087.911765,"1,634,989",36.7,"866,644",1.886575,1.0,...,0.6,Agreeable,1.0,Outgoing,20.320,13.5,3.175147,0.2,Toy >9lb,https://www.akc.org/wp-content/uploads/2017/11...
2,F,2005,10003,Manhattan,48087.911765,"1,634,989",36.7,"866,644",1.886575,2.0,...,0.2,May be Stubborn,0.8,Friendly,19.050,13.0,3.175147,0.2,Toy >9lb,https://www.akc.org/wp-content/uploads/2017/11...

In [103]:
# Create a list of columns to drop
drop_list = ['Gender', 'BirthYear', 'ZipCode', 'boro_population', 'humans/park', 'human_median_age', 'housing_units', 'tax_return_count', 'description', 
             'temperament', 'grooming_frequency_category', 'shedding_category', 'energy_level_category', 'trainability_category', 'demeanor_category', 
             'average_height', 'size', 'image_link']

In [104]:
# Drop more columns, just run once 
master_dog_df = master_dog_df.drop(labels=drop_list, axis=1)

In [105]:
master_dog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277639 entries, 0 to 277638
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Borough                   277639 non-null  object
 1   humans/household          277639 non-null  float64
 2   dfriendlyareas_by_zip     277639 non-null  float64
 3   avg_income                275755 non-null  float64
 4   Breed                     277639 non-null  object
 5   grooming_frequency_value  277639 non-null  float64
 6   shedding_value            277639 non-null  float64
 7   energy_level_value        277639 non-null  float64
 8   trainability_value        277639 non-null  float64
 9   demeanor_value            277639 non-null  float64
 10  average_expectancy        277639 non-null  float64
 11  average_weight            277639 non-null  float64
 12  size_cat                  277639 non-null  object
dtypes: float64(10), object(3)
memory usage: 27.5+ MB

In [106]:
# Drop null rows
master_dog_df.dropna(inplace=True)

master_dog_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 275755 entries, 0 to 277638
Data columns (total 13 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Borough                   275755 non-null  object
 1   humans/household          275755 non-null  float64
 2   dfriendlyareas_by_zip     275755 non-null  float64
 3   avg_income                275755 non-null  float64
 4   Breed                     275755 non-null  object
 5   grooming_frequency_value  275755 non-null  float64
 6   shedding_value            275755 non-null  float64
 7   energy_level_value        275755 non-null  float64
 8   trainability_value        275755 non-null  float64
 9   demeanor_value            275755 non-null  float64
 10  average_expectancy        275755 non-null  float64
 11  average_weight            275755 non-null  float64
 12  size_cat                  275755 non-null  object
dtypes: float64(10), object(3)
memory usage: 29.5+ MB

In [107]:
# Find unique values count by col
master_dog_df.nunique()

Borough                       5
humans/household              5
dfriendlyareas_by_zip         5
avg_income                  218
Breed                        50
grooming_frequency_value      5
shedding_value                5
energy_level_value            5
trainability_value            5
demeanor_value                4
average_expectancy           15
average_weight               40
size_cat                      5
dtype: int64

In [108]:
# Export master to csv
master_dog_df.to_csv('doggy_master_merged.csv')